<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Sales</title>
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/service">Our Services</a>
    <a href="/contact">Contact Us</a>
  </nav>

  <h1>Welcome DriveDealz</h1>

  <section>
    <h2>Available Vehicles</h2>

    <div class="vehicle">
      <h3>Porshe 911</h3>
      <p>Price: 154 885 €</p>
      <p>Year: 2019</p>
      <img src="./photos/Porshe.jpg" alt="Car Image">
    </div>

    <div class="vehicle">
   
      <h3>Mercedes class g 63</h3>
      <p>Price: 167 000 € </p>
      <p>Year: 2022</p>
      <img src="./photos/classg.jpg" alt="Car Image">
    </div>

    <div class="vehicle">
       
        <h3>ferarri f50</h3>
        <p>Price: 6.5 millions €</p>
        <p>Year:2002-2004</p>
        <img src="./photos/ferarri.jpg" alt="Car Image">
      </div>
      <div class="vehicle">
        <h3>dodge demon </h3>
        <p>Price: 122 600 €</p>
        <p>Year: 2023</p>
        <img src="./photos/dodge.jpg" alt="Car Image">

      </div>
      <div class="vehicle">
        <h3>FordMustang shelby</h3>
        <p>Price: 70 000 € </p>
        <p>Year: 2022</p>
        <img src="./photos/shelby.jpg" alt="Car Image">

      </div>
      <div class="vehicle">
        <h3>Toyota supras</h3>
        <p>Price:  55 000 €</p>
        <p>Year: 1993</p>
        <img src="./photos/supras.jpg" alt="Car Image">

      </div>
      <div class="vehicle">
        <h3>aston martin victor </h3>
        <p>Price: 2,3 millions €</p>
        <p>Year: 2022</p>
        <img src="./photos/aston.jpg" alt="Car Image">

      </div>
      <div class="vehicle">
        <h3>lamborghini aventador</h3>
        <p>Price: 471900€</p>
        <p>Year:2022</p>
        <img src="./photos/lambo.jpg" alt="Car Image">

      </div>
      <div class="vehicle">
        <h3>rolls royce phantom</h3>
        <p>Price:558 000 €</p>
        <p>Year: 2022</p>
        <img src="./photos/rolls.jpg" alt="Car Image">

      </div>
     

  </section>


</body>
</html>
